<br />
<div class="form-group row">
  <div class="col-sm">
    <select [(ngModel)]="selectedValue" class="custom-select my-select">
      <option *ngFor="let property of properties" value="{{ property }}">
        {{ property }}
      </option>
    </select>
  </div>
  <div class="col-sm">
    <input
      id="float-input"
      type="text"
      pInputText
      class="form-control" id="limit" placeholder="search by title, slug , description, body ..."
      [(ngModel)]="searchArticleName"
    />
  </div>

</div>
<br>
<app-article-preview
  *ngFor="
    let article of results | articleSearch: selectedValue:searchArticleName
  "
  [article]="article"
>
</app-article-preview>

<div class="app-article-preview" [hidden]="!loading">Loading articles...</div>

<div class="app-article-preview" [hidden]="loading || results.length">
  No articles are here... yet.
</div>

<nav [hidden]="loading || totalPages.length <= 1">
  <ul class="pagination">
    <li
      class="page-item"
      [ngClass]="{ active: pageNumber === currentPage }"
      *ngFor="let pageNumber of totalPages"
      (click)="setPageTo(pageNumber)"
    >
      <a class="page-link">{{ pageNumber }}</a>
    </li>
  </ul>
</nav>
